### Read Excel File

In [1]:
import pandas as pd

df = pd.read_excel("Flood_Prediction_Dataset.xlsx", sheet_name = 0 )
df.head()

,Rainfall,RiverLevel,DrainageQuality,LandType,SoilSaturation,Elevation,NearbyWaterBody,Flood
0,143.6,3.57,Good,Urban,76.6,47.0,Yes,No
1,287.7,1.34,Poor,Urban,32.2,12.0,No,Yes
2,233.0,1.65,Moderate,Urban,66.1,62.0,Yes,No
3,199.7,4.59,Poor,Urban,68.5,80.0,Yes,Yes
4,89.0,3.43,Moderate,Urban,53.9,88.0,No,No

### Data Preprocessing and Cleaning

In [2]:
print("Data Info:")
df.info()

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rainfall         200 non-null    float64
 1   RiverLevel       192 non-null    float64
 2   DrainageQuality  200 non-null    object
 3   LandType         194 non-null    object
 4   SoilSaturation   200 non-null    float64
 5   Elevation        194 non-null    float64
 6   NearbyWaterBody  200 non-null    object
 7   Flood            200 non-null    object
dtypes: float64(4), object(4)
memory usage: 12.6+ KB

Handle Missing Value

In [3]:
clean_df = df.copy()
mean_river = clean_df['RiverLevel'].mean()
mean_elevation = clean_df['Elevation'].mean()
mode_land = clean_df['LandType'].mode()[0]

clean_df['RiverLevel'] = clean_df['RiverLevel'].fillna(mean_river)
clean_df['Elevation'] = clean_df['Elevation'].fillna(mean_elevation)
clean_df['LandType'] = clean_df['LandType'].fillna(mode_land)

clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rainfall         200 non-null    float64
 1   RiverLevel       200 non-null    float64
 2   DrainageQuality  200 non-null    object
 3   LandType         200 non-null    object
 4   SoilSaturation   200 non-null    float64
 5   Elevation        200 non-null    float64
 6   NearbyWaterBody  200 non-null    object
 7   Flood            200 non-null    object
dtypes: float64(4), object(4)
memory usage: 12.6+ KB

Change categorical data into numerical

In [4]:
clean_df['DrainageQuality'].unique()

array(['Good', 'Poor', 'Moderate'], dtype=object)

In [5]:
clean_df['LandType'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [6]:
clean_df['NearbyWaterBody'].unique()

array(['Yes', 'No'], dtype=object)

In [7]:
clean_df['Flood'].unique()

array(['No', 'Yes'], dtype=object)

In [8]:
# For ordinal data
clean_df['Flood'] = clean_df['Flood'].map({'Yes':1 , 'No': 0})
clean_df['NearbyWaterBody'] = clean_df['NearbyWaterBody'].map({'Yes':1, 'No':0})
clean_df['DrainageQuality'] = clean_df['DrainageQuality'].map({'Good':2, 'Moderate':1, 'Poor':0})

# For nominal data
# Drop the first column 'rural' to prevent multicollinearity
clean_df = pd.get_dummies(clean_df, columns=['LandType'], drop_first = True, dtype=int)

In [9]:
clean_df.info()
clean_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rainfall           200 non-null    float64
 1   RiverLevel         200 non-null    float64
 2   DrainageQuality    200 non-null    int64
 3   SoilSaturation     200 non-null    float64
 4   Elevation          200 non-null    float64
 5   NearbyWaterBody    200 non-null    int64
 6   Flood              200 non-null    int64
 7   LandType_Suburban  200 non-null    int64
 8   LandType_Urban     200 non-null    int64
dtypes: float64(4), int64(5)
memory usage: 14.2 KB

,Rainfall,RiverLevel,DrainageQuality,SoilSaturation,Elevation,NearbyWaterBody,Flood,LandType_Suburban,LandType_Urban
0,143.6,3.57,2,76.6,47.0,1,0,0,1
1,287.7,1.34,0,32.2,12.0,0,1,0,1
2,233.0,1.65,1,66.1,62.0,1,0,0,1
3,199.7,4.59,0,68.5,80.0,1,1,0,1
4,89.0,3.43,1,53.9,88.0,0,0,0,1